table {
	font-size: 28px; 
	border-spacing: 10px;
	border: 1px solid black;
	border-collapse: collapse;
	margin-left: auto;
	margin-right: auto;
}

td, th {
	font-family: fantasy, Times, serif;
	padding: 5px;
	height: 50px;
	border: 1px solid black;
	text-align: right;
}

nav.mid {
	text-align: center;
	font-size: 16px;
}

.center {
	font-family: fantasy, Times, serif;
	text-align: center;
	font-size: 20px;
}