body {
	font-family: 'Raleway', sans-serif;
	font-size: 20px;
}

#contents {
	width: 800px;
	height: 800px;
	margin: auto 0px;
}

table {
	border-spacing: 10px;
	margin-left: auto;
	margin-right: auto;
}

td, th {
	padding: 5px;
}