/*.jumbotron {
  padding: 30px;
  margin-bottom: 30px;
  color: inherit;
  background-color: #ffffff;
}

.navbar-default {
  background-color: #ffffff;
  border-color: #ffffff;
  color: #ff0099;
}

.navbar .nav > li > a {
    float: none;
    line-height: 19px;
    padding: 9px 10px 11px;
    text-decoration: none;
    color:  #0099ff
}

.navbar-outer {
  width:500px;
}
*/

#content {
  margin: 0px auto;
  width: 1150px;
  height: 500px;
  font-family: "Century Gothic", Arial, Times;
  text-align: center;
}

p {
  font-family: "Century Gothic";
  text-align: center;
}

img { 
  border: 1px solid #0099ff;
  margin: 0 auto;
}

p.para {
  font-size: 26px;
}

p.intro {
  font-size: 38px;
}